{{define "layout"}}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>News</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/-/css/style.css" rel="stylesheet">
    {{template "layout-style"}}
  </head>
  <body>
    <div>Navbar</div>
    <div>{{template "layout-body"}}</div>
    <div>Footer</div>
    {{template "layout-script"}}
  </body>
</html>
{{end}}